.noLoginSection {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  .title {
    font-weight: 600;
    font-size: 1.3125rem;
    color: #303549;
    margin-bottom: 8px;
  }
  .subTitle {
    font-size: 0.875rem;
    color: #62677b;
    margin-bottom: 32px;
  }
}
